<div class="center jumbotron">
  <h1>スーツを提案</h1>
    <div>Suit simulaterはあなたに似合うスーツをバーチャル世界でデイアンするアプリです</div>

    <br>
    <h2>新しくスーツを仕立てたい時のイメージ作りにも一役買います</h2>
    <br>
    <h2>手持ちのスーツから似合うシャツやネクタイを探すなど、手持ちのアイテムから似合うスーツを作ることも可能です</h2>

</div>
