<% provide(:title, "Home") %>
<div class="static_pages text-center">
  <div class="suit_img">
    <div class="container-fluid">
      <div class="row text-left fadein">
        <div class="col-md-6 pull-left main">
          <h1>あなた似合うスーツを提案するアプリ</h1>
          <p>Suit simulaterはあなたに似合うスーツをバーチャル世界で提案するアプリです。スーツの合わせ方が難しいと思う方、なにかギフトをあげたいがどんな柄を選べば良いかわからない方に一役買います</p>
        </div>
      </div>
    </div>
  </div>
  <div class="jkt_img">
    <div class="container-fluid">
      <div class="row text-left fadein">
        <div class="col-md-6 pull-right">
          <h1>新しくスーツを仕立てたい時のイメージ作りに</h1>
          <p>新しいスーツが欲しいのに、どんな色や柄がふさわしいかわからない。そんな時にこのサイトでイメージ作りにシミュレートできます</p>
        </div>
      </div>
    </div>
  </div>

    <div class="container-fluid black">
      <div class="search-section">
        <h2>手持ちのスーツから似合うシャツやネクタイを探すなど、手持ちのアイテムから似合うスーツを作ることも可能です</h2>
      </div>
    </div>

    <div class="container">
      <div class="row fadein">
        <div class="col-md-4 items">
          <a class="btn btn-lg btn-outline-primary" suit_path >スーツを探す</a>
          <br>
          <%= image_tag "suit.jpg", alt:"スーツ画像", class:"image"%>
        </div>
        <div class="col-md-4 items">
          <a class="btn btn-lg btn-outline-primary">シャツを探す</a>
          <br>
            <%= image_tag "kitten.jpeg", size: "300x300", alt:"シャツ画像", class:"image" %>
        </div>
        <div class="col-md-4 items">
          <a class="btn btn-lg btn-outline-primary">ネクタイを探す</a>
          <br>
            <%= image_tag "tie.jpg", size: "300x300", alt:"ネクタイ画像", class:"image" %>
        </div>
      </div>
    </div>
<div>

<script>
$(window).scroll(function (){
  $('.fadein').each(function(){
      var elemPos = $(this).offset().top,
          scroll = $(window).scrollTop(),
          windowHeight = $(window).height();
        if (scroll > elemPos - windowHeight + 100){
            $(this).addClass('scrollin');
          }
      });
  });
</script>
