<% provide(:title, "Home") %>
<div class="contents">
  <div class="discription">
    <h1>あなたにスーツを提案</h1>
    <p>Suit simulaterはあなたに似合うスーツをバーチャル世界で提案するアプリです。スーツの合わせ方が難しいと思う方、なにかギフトをあげたいがどんな柄を選べば良いかわからない方に一役買います</p>
  </div>
  <img src="/assets/home.jpeg" class="img-circle" alt="ジャケットの画像" width="500" height="500" >
</div>

  <div class="contents-2">
    <img src="/assets/jkt.jpeg" class="img-circle" alt="ジャケットの画像2" width="500" height="500" >
    <div class="discription">
      <h2>新しくスーツを仕立てたい時のイメージ作りができます</h2>
        <p>新しいスーツが欲しいのに、どんな色や柄がふさわしいかわからない。そんな時にこのサイトでイメージ作りにシミュレートできます</p>
    </div>
  </div>


<div class="search-section">
  <h2>手持ちのスーツから似合うシャツやネクタイを探すなど、手持ちのアイテムから似合うスーツを作ることも可能です</h2>
</div>


  <div class="select">
    <div class="items">
      <a href="#" class="btn btn-lg btn-outline-primary">スーツを探す</a>
      <br>
      <img src="/assets/WP.jpeg" class="img-circle" alt="circle test" width="300" height="300" >
    </div>

    <div class="items">
      <a href="#" class="btn btn-lg btn-outline-primary">シャツを探す</a>
      <br>
        <img src="/assets/kitten.jpg" class="img-circle" alt="circle test" width="300" height="300" >
    </div>

    <div class="items">
      <a href="#" class="btn btn-lg btn-outline-primary">ネクタイを探す</a>
      <br>
        <img src="/assets/tie.jpeg" class="img-circle" alt="circle test" width="300" height="300" >
    </div>

  </div>
