<div class="main-container">
  <div class="discription">
    <h1>あなたにスーツを提案</h1>
    <p>Suit simulaterはあなたに似合うスーツをバーチャル世界で提案するアプリです。スーツの合わせ方が難しいと思う方、なにかギフトをあげたいがどんな柄を選べば良いかわからない方に一役買います</p>
  </div>
  <%= link_to image_tag("kitten.jpg", alt: "Rails logo" )%>
</div>

  <div class="newsuit">
    <%= link_to image_tag("kitten.jpg", alt: "Rails logo") %>
    <div class="discription">
      <h2>新しくスーツを仕立てたい時のイメージ作りができます</h2>
    </div>
  </div>


<div class="three-items">
  <h2>手持ちのスーツから似合うシャツやネクタイを探すなど、手持ちのアイテムから似合うスーツを作ることも可能です</h2>
</div>


  <div class="select">
    <div>
      <a href="#" class="btn btn-lg btn-primary">スーツを探す</a>
      <figure class="figure">
        <svg class="bd-placeholder-img figure-img img-fluid rounded" width="300" height="300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 400x300"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/>
        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">400x300</text></svg>
      </figure>
    </div>

    <div>
      <a href="#" class="btn btn-lg btn-primary">シャツを探す</a>
      <figure class="figure">
        <svg class="bd-placeholder-img figure-img img-fluid rounded" width="300" height="300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 400x300"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/>
        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">400x300</text></svg>
      </figure>
    </div>

    <div>
      <a href="#" class="btn btn-lg btn-primary">ネクタイを探す</a>
      <figure class="figure">
        <svg class="bd-placeholder-img figure-img img-fluid rounded" width="300" height="300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 400x300"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/>
        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">400x300</text></svg>
      </figure>
    </div>

  </div>
