<!DOCTYPE html>
<html>
  <head>
    <title>Home|Suit simulater</title>
  </head>
  <body>
    <div class="header">
      <div class="header-logo">Suit simulater</div>
      <div class="header-list">
        <ul>
          <li>アカウント作成</li>
          <li>ログイン</li>
        </ul>
      </div>
    </div>
    <h1>スーツを提案</h1>
      <div>Suit simulaterはあなたに似合うスーツをバーチャル世界でデイアンするアプリです</div>

      <br>
      <h2>新しくスーツを仕立てたい時のイメージ作りにも一役買います</h2>
      <br>
      <h2>手持ちのスーツから似合うシャツやネクタイを探すなど、手持ちのアイテムから似合うスーツを作ることも可能です</h2>

  </body>
</html>
