

<div>
  <h1>あなたのイメージにあう組み合わせを選択してください</h1>
  
</div>
<div class="main-box">
  <div class="sub-box">
    <p>ネイビー</p>
      <div class="pattern-navy" id="xxx">
      </div>
  </div>
  <div class="sub-box">
    <p>グレー</p>
      <div class="pattern-gray">
      </div>
  </div>
  <div class="sub-box">
    <p>ダークグレー</p>
      <div class="pattern-darkgray">
      </div>
  </div>
  <div class="sub-box">
    <p>ブラック</p>
      <div class="pattern">
      </div>
  </div>
  <div class="sub-box">
    <p>茶</p>
      <div class="pattern-brown">
      </div>
  </div>
</div>

<div class="main-box">
  <div class="sub-box">
    <p>無地</p>
      <div class="pattern-navy">
      </div>
  </div>
  <div class="sub-box">
    <p>ストライプ</p>
      <div class="pattern-gray">
      </div>
  </div>
  <div class="sub-box">
    <p>ウィンドウペン</p>
      <div class="pattern-darkgray">
      </div>
  </div>
</div>

<script>
  $("#xxx").on("click",function(){
    $("").fadeIn(300);
  });
</script>
