<div class="main-box">
  <div class="sub-box">
    <p>sample text</p>
      <div class="pattern">
      </div>
  </div>
  <div class="sub-box">
    <p>sample text</p>
      <div class="pattern">
      </div>
  </div>
  <div class="sub-box">
    <p>sample text</p>
      <div class="pattern">
      </div>
  </div>
  <div class="sub-box">
    <p>sample text</p>
      <div class="pattern">
      </div>
  </div>
  <div class="sub-box">
    <p>sample text</p>
      <div class="pattern">
      </div>
  </div>
  <div class="sub-box">
    <p>sample text</p>
      <div class="pattern">
      </div>
  </div>
</div>
