<% provide(:title, "パスワード再設定") %>
<div class="new">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="log_in">
          <h2 class="text-center">パスワードの再設定</h2>
          <p>アカウント作成時に使用したメールアドレスを入力してパスワードを再設定できます</p>
          <%= form_for(:password_reset, url: password_reset_user_path(:id)) do |f| %>
          <!--<%= f.label :email %>-->
          <%= f.email_field :email, class: 'form-control', placeholder:"メールアドレス" %>
          <%= f.submit "再設定用メール送信", class: "btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
