<h1>あなたが着てみたいスーツの色を選択してください</h1>
<div class="contents2">
  <div class="suit_sample">
    <div>
      <%= image_tag "home.jpeg", size: "400x400", alt:"茶系スーツ", class:"xxx section" %>
      <%= image_tag "WP.jpeg", size: "400x400", alt:"茶系スーツ", class:"yyy section" %>
      <%= image_tag "tie.jpeg", size: "400x400", alt:"茶系スーツ", class:"zzz section" %>
    </div>
  </div>

  <div class="main-box">
    <div class="sub-box">
      <p>ネイビー</p>
        <div class="pattern-navy secList" id="xxx">
        </div>
    </div>
    <div class="sub-box">
      <p>グレー</p>
        <div class="pattern-gray secList" id="yyy">
        </div>
    </div>
    <div class="sub-box">
      <p>ダークグレー</p>
        <div class="pattern-darkgray secList" id="zzz">
        </div>
    </div>
    <div class="sub-box">
      <p>ブラック</p>
        <div class="pattern">
        </div>
    </div>
    <div class="sub-box">
      <p>茶</p>
        <div class="pattern-brown">
        </div>
    </div>
  </div>
</div>

  <div class="main-box">
    <div class="sub-box">
      <p>無地</p>
        <div class="pattern-navy">
        </div>
    </div>
    <div class="sub-box">
      <p>ストライプ</p>
        <div class="pattern-gray">
        </div>
    </div>
    <div class="sub-box">
      <p>ウィンドウペン</p>
        <div class="pattern-darkgray">
        </div>
    </div>
  </div>


<script>
$(function(){
  $('.section').hide();

  $('.secList').on('click',function(){
    // クリックした要素の ID と違うクラス名のセクションを非表示
    $('.section').not($('.'+$(this).attr('id'))).hide();
    // クリックした要素の ID と同じクラスのセクションを表示
    $('.'+$(this).attr('id')).show();

    // toggle にすると、同じボタンを 2 回押すと非表示になる
    // $('.'+$(this).attr('id')).toggle();
  });
});
</script>
