<div class="hopes">
  <div class="jumbotron jumbotron-fluid suit_img">
    <div class="container text-center">
      <h2>スーツの色を指定して探す(それに合うネクタイとシャツも提案します)</h2>
      <h1><%= link_to "→こちら", select_suit_path %><h1>
    </div>
  </div>
</div>
