<% provide(:title, 'Suit') %>
<div class="bg_test">
    <div class="bg_test-text">
        <h2><%= link_to "スーツの色を指定して探す(それに合うネクタイとシャツも提案します)", select_suit_path %></h2>
    </div>
</div>
<div class="bg_test">
    <div class="bg_test-text">
        <h2><%= link_to "手持ちのシャツとネクタイに合うスーツを探す", "#" %></h2>
    </div>
</div>
