@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
body {
  padding-top: 170px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

.main-container {
  display: flex;
  justify-content: space-around;
}

.discription {
  flex-basis: 40%;
  margin-top: 180px;
}

.newsuit {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}

.three-items {
  margin-top: 30px;
  border-top: 1px gray solid;
  margin-top: 100px;
  padding-top: 100px;
}

.select {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
