/* @importでresetcssできるよ */
@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* universal */
body {
   margin: 0;
   font-family:'Noto Sans JP', 'Roboto', sans-serif;
   background-color: rgba(255, 255, 255, 0.87);
   font-weight: 900;
}

.btn {
  color: white;
  background-color:#0c6;
  padding: 10px 30px;
}

.btn:hover {
  color: #fff;
  background-color: #6fc;
  text-decoration: none;
}

/* footer */
footer {
  background-color: #e9f6f5;
  padding: 50px 0 50px 0;
  color: #777;
  width: 100%;
  small {
    float: left;
    margin: 0 0 0 15px;
  }
}

/* header */
/*PCメニュー*/
header {
  background-color: #e9f6f5;
}
#header {
  background-color: #e9f6f5;
  display: flex;
  flex-flow: row wrap;
  padding: 20px 30px;
}
#header h1 {
  margin-right: auto;
}
#header #navi {
  margin-top: 10px;
  padding-top: 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  list-style: none;
}
#header #navi li {
  margin: 0 15px;
  line-height: 100%;
}
#header #navi li a {
  color: #000;
  text-decoration: none;
}
/*PCメニュー*/
/*SPメニュー*/
@media screen and (max-width: 768px) {
  /* bager menu */
  #header #navi {
    transition: all 0.6s;
    overflow-y: auto;
    padding-top: 40px;
    width: 300px;
    height: 100vh;
    z-index: 200;
    top: 0;
    right: -320px;
    background-color: #fff;
    position: fixed;
    flex-direction: column;
    align-items: baseline;
  }
  #header #navi li {
    padding: 10px;
  }
  #header .nav_btn {
    width: 44px;
    height: 44px;
    z-index: 300;
    top: 7px;
    right: 7px;
    cursor: pointer;
    position: absolute;
  }
  .hamburger_line {
    transition: all 0.6s;
    width: 34px;
    height: 2px;
    left: 5px;
    background-color: #000;
    position: absolute;
  }
  .hamburger_line1 {
    top: 10px;
  }
  .hamburger_line2 {
    top: 21px;
  }
  .hamburger_line3 {
    top: 32px;
  }
  .nav_bg {
    opacity: 0;
    transition: all 0.6s;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    top: 0;
    left: 0;
    visibility: hidden;
    background-color: #000;
    cursor: pointer;
    position: fixed;
  }
  /* 表示された時用のCSS */
  .nav_open #header #navi {
    right: 0;
  }
  .nav_open .nav_bg {
    opacity: 0.8;
    visibility: visible;
  }
  .nav_open .hamburger_line1 {
    transform: rotate(45deg);
    top: 20px;
  }
  .nav_open .hamburger_line2 {
    width: 0;
    left: 50%;
  }
  .nav_open .hamburger_line3 {
    transform: rotate(-45deg);
    top: 20px;
  }
}
