/* suit page*/
.hopes {
  .suit_img {
    background-image: image-url('suit.jpg'); /* 背景画像指定 */
    background-size: cover;
    background-position: center;
    padding: 300px;
    color: white;
  }
  .container {
    margin-top: 20px;
  }
  /* hopes box  */
 .size {
   width: auto;
   max-width: 100%;
   height: 340px;
   object-fit: contain;
   margin: 20px auto;
 }

 .reverse {
   display: flex;
   flex-wrap: wrap-reverse;
   justify-content: center;
 }
  .main-box {
    align-items: center;
    background   : #fff;
    border-radius: 10%;
    border: 1px solid gainsboro;
    display: flex;
    flex-wrap: wrap;
    height       : 340px;
    margin       : auto;
    width        : 340px;
    margin: 20px auto;
  }

  .sub-box {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .pattern {
    width        : 90px;
    height       : 90px;
    background   : #000;
    border: #fff solid 1px;
    border-radius: 10%;
  }

  .pattern-navy{
    background   : #000044;
    border: #fff solid 1px;
    border-radius: 10%;
    height       : 90px;
    width        : 90px;
  }

  .pattern-gray{
    background   : #a6a6a6;
    border: #fff solid 1px;
    border-radius: 10%;
    height       : 90px;
    width        : 90px;
  }

  .pattern-beige{
    background   : #663300;
    border: #fff solid 1px;
    border-radius: 10%;
    height       : 90px;
    width        : 90px;
  }

  .pattern-check {
    background   : brown;
    border: #fff solid 1px;
    border-radius: 10%;
    height       : 90px;
    width        : 90px;
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, transparent), color-stop(.5, #ffffff), to(#ffffff)),
    -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, transparent), color-stop(.5, #ffffff), to(#ffffff));
    -webkit-background-size: 10px 10px;
  }

  .pattern-wp {
    background   : blue;
    border: #fff solid 1px;
    border-radius: 10%;
    height       : 90px;
    width        : 90px;
    background-color : #1A237E;
    background-image:
    repeating-linear-gradient( 0deg, #fff 0px 1px, transparent 1px 10px),
    repeating-linear-gradient( 90deg, #fff 0px 1px, transparent 1px 10px);
  }

/* シャツページの模様 */
  .white_shirt {
    background   : whitesmoke;
    border: #fff solid 1px;
    border-radius: 10%;
    height       : 90px;
    width        : 90px;
  }

  .blue_shirt {
    background   : skyblue;
    border: #fff solid 1px;
    border-radius: 10%;
    height       : 90px;
    width        : 90px;
  }

  .stripe_shirt {
    border: #fff solid 1px;
    border-radius: 10%;
    height       : 90px;
    width        : 90px;
    background: repeating-linear-gradient(
    90deg,     /* 角度の指定 */
    #fff,      /* 色A ... 開始 */
    #fff 3px,  /* 色A ... 終了 */
    #000 3px,      /* 色B ... 開始 */
    #000 6px   /* 色B ... 終了 */
    );
  }
/* ネクタイページの模様 */
  .stripe_tie {
    border: #fff solid 1px;
    border-radius: 10%;
    height       : 90px;
    width        : 90px;
    background-size: auto auto;
    background-color: rgba(233, 231, 240, 1);
    background-image: repeating-linear-gradient(135deg, transparent, transparent 3px, rgba(5, 44, 108, 0.93) 3px, rgba(5, 44, 108, 0.93) 29px );
  }

  .normal_tie {
    border: #fff solid 1px;
    border-radius: 10%;
    height       : 90px;
    width        : 90px;
    background-size: auto auto;
    background-color: navy;
  }

  .dot_tie {
    border: #fff solid 1px;
    border-radius: 10%;
    height       : 90px;
    width        : 90px;
    background-color   : #00007f;
    background-image   : radial-gradient(#ffffff 4%, transparent 7%),
                        radial-gradient(#ffffff 4%, transparent 7%);
    background-position: 0 0, 12px 12px;
    background-size    : 24px 24px;
  }

  .same_color_tie {
    border: #fff solid 1px;
    border-radius: 10%;
    height       : 90px;
    width        : 90px;
    background-size: auto auto;
    background-color: rgba(27, 55, 193, 1);
    background-image: repeating-linear-gradient(135deg, transparent, transparent 10px, rgba(20, 58, 228, 1) 10px, rgba(20, 58, 228, 1) 45px );
  }

  .check_tie {
    border: #fff solid 1px;
    border-radius: 10%;
    height       : 90px;
    width        : 90px;
    background-color : #fff;
    background-image :
        repeating-linear-gradient(45deg,
                                  rgba(0, 0, 102, 0.56),
                                  rgba(0, 0, 102, 0.56) 12px,
                                  rgba(0, 0, 0, 0) 0,
                                  rgba(0, 0, 0, 0) 15px),
        repeating-linear-gradient(315deg,
                                  rgba(51, 0, 102, 0.50),
                                  rgba(51, 0, 102, 0.50) 12px,
                                  rgba(0, 0, 0, 0) 0,
                                  rgba(0, 0, 0, 0) 15px);
  }
  .paisley_tie {
    border: #fff solid 1px;
    border-radius: 10%;
    height       : 90px;
    width        : 90px;
    background-image: image-url("paisley.jpg");
  }

  .btn_to_final {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-around;
  }

  /* shirt page*/
  .center {
    text-align: center;
  }

  .space {
    margin: 30px;
  }
}
