/* suit page*/
.hopes {
  .suit_img {
    background-image: image-url('suit.jpg'); /* 背景画像指定 */
    background-size: cover;
    background-position: center;
    padding: 300px;
    color: white;
  }
  .container {
    margin-top: 20px;
  }
  /* hopes box  */
  .suit_pic {
    margin: auto;
  }
 .size {
   width: auto;
   height: 380px;
 }
  .main-box {
    align-items: center;
    background   : #fff;
    border-radius: 10%;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    height       : 380px;
    margin       : auto;
    width        : 380px;
  }

  .sub-box {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .pattern {
    width        : 100px;
    height       : 100px;
    background   : #000;
    border: #fff solid 1px;
    border-radius: 10%;
  }
  .pattern-navy{
    background   : #000044;
    border: #fff solid 1px;
    border-radius: 10%;
    height       : 100px;
    padding      : 0px;
    width        : 100px;
  }

  .pattern-gray{
    background   : #a6a6a6;
    border: #fff solid 1px;
    border-radius: 10%;
    height       : 100px;
    width        : 100px;
  }
  .pattern-beige{
    background   : #663300;
    border: #fff solid 1px;
    border-radius: 10%;
    height       : 100px;
    width        : 100px;
  }
  .pattern-check {
    background   : brown;
    border: #fff solid 1px;
    border-radius: 10%;
    height       : 100px;
    width        : 100px;
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, transparent), color-stop(.5, #ffffff), to(#ffffff)),
    -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, transparent), color-stop(.5, #ffffff), to(#ffffff));
    -webkit-background-size: 10px 10px;
  }
  .pattern-wp {
    background   : blue;
    border: #fff solid 1px;
    border-radius: 10%;
    height       : 100px;
    width        : 100px;
    background-color : #1A237E;
    background-image:
    repeating-linear-gradient( 0deg, #fff 0px 1px, transparent 1px 10px),
    repeating-linear-gradient( 90deg, #fff 0px 1px, transparent 1px 10px);
  }
  .wrap-reverse {
    // display: flex;
    // justify-content: center;
    // flex-wrap: wrap-reverse;
  }
  .btn_to_final {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-around;
  }

  /* shirt page*/
  .center {
    text-align: center;
  }

  .space {
    margin: 30px;
  }
}
