/* result */
.main_item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sub_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.suit_result {
  height: auto;
  align-items: center;
  width: 500px;
  margin: 10px;
  p {
    font-size: 15px;
  }
}
.item_info {
  margin: 10px;
}


.recomend {
  text-align: center;
  margin: 20px 0;
}
