/* result */
.results {
  .sub_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .suit_result {
    height: auto;
    align-items: center;
    width: 500px;
    margin: 10px;
    p {
      font-size: 15px;
    }
  }

  .size {
    width: auto;
    height: 320px;
  }
  .recomend {
    height: auto;
    width: 360px;
  }
}
