.static_pages {
  .suit_img {
    background-image: image-url('main.jpg');
    background-size: cover;
    padding: 200px 10px;
    margin-bottom: -10px;
    width: 100%;
    max-width: 100%;
    background-position: center;
  }

  .jkt_img {
    background-image: image-url('main2.jpg');
    background-size: cover;
    color: white;
    padding: 200px 10px;
    width: 100%;
    max-width: 100%;
    background-position: center;
  }

  .home {
    padding: 0 30px;
  }

  .items {
    margin: 10px 0;
  }
  .image {
    height: 400px;
    width: auto;
  }
  .img-circle {
    margin: 10px;
  }
  .btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
    margin-right: 5px;
    margin-left: 5px;
  }
  .black {
    background-color: white;
    color: black;
    margin: -10px, 30px, 50px, 30px;
    padding: 30px;
  }
  .footer_content{
    padding: 200px 10px;
    color: #fff;
    background: linear-gradient(#005AA7, #FFFDE4);
  }
}
/* fadein機能のcss */
.fadein {
  opacity: 0;
  transform : translate(0, 50px);
  transition : all 1500ms;
}

.fadein.scrollin{
  opacity: 1;
  transform: translate(0, 0);
}
