.static_pages {
  .suit_img {
    background-image: url(/assets/home.jpeg);
    background-size: cover;
    color: white;
    padding: 200px;
    margin-bottom: -10px;
  }
  .jkt_img {
    background-image: url(/assets/jkt.jpeg);
    background-size: cover;
    color: white;
    padding: 200px;
  }
  .img-circle {
    margin: 10px;
  }
  .btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
    margin-right: 5px;
    margin-left: 5px;
  }
  overflow: hidden;
}
/* fadein機能のcss */
.fadein {
  opacity: 0;
  transform : translate(0, 50px);
  transition : all 1500ms;
}

.fadein.scrollin{
  opacity: 1;
  transform: translate(0, 0);
}
