<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Suit simulater", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "マイページ", root_path %></li>
            <li><%= link_to "アカウント作成", signup_path %></li>
            <li><%= link_to "ログイン", login_path %></li>
          </ul>
        </nav>
      </div>
    </header>
